<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <form #loginForm="ngForm">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <img src="assets/images/avatar.png" />
          <div >
            <ion-item>
              <ion-icon class='my-custom-icon' name="mail"></ion-icon>
              <ion-input type="text" placeholder="Email" [(ngModel)]="loginModel.Email" name="Email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon class='my-custom-icon' name="lock"></ion-icon>
              <ion-input type="password" placeholder="Password" [(ngModel)]="loginModel.Password" name="Password"
                required></ion-input>
            </ion-item>
          </div>

          <div padding>
            <ion-button expand="block" (click)="submitLoginForm()" [disabled]="!loginForm.valid">
              Login
            </ion-button>
          </div>
          <div>

            <p style="text-align: center; font-weight: 500;" (click)="goToRegister()">
              Or create a new account.
            </p>
          </div>
        </ion-col>
      </form>

    </ion-row>
  </ion-grid>
</ion-content>