page-ocupa-loc {
    .loc-parcare {
        border-left: 3px solid lightgray; 
        border-bottom: 3px solid lightgray; 
        border-top: 3px solid lightgray;
        min-height: 50px;
    }

    .masina-in-parcare {
        padding-top: 4px;
        font-size: 26px;
    }

    .linie-drum {
        padding-top: 16px;
    }
}