<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="dark" name="menu"></ion-icon>
    </button>
    <ion-title>Parcari</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-wrap>
  <ion-list *ngIf="isLoading == false">
    <ion-list-header>Lista parcarilor existente</ion-list-header>
    <ion-item-sliding *ngFor="let p of parcari" #item>
      <ion-item>
        <ion-avatar item-start>
          <p letterAvatar>{{getInitials(p.LocatieParcare)}}</p>
        </ion-avatar>
        <h2>{{p.LocatieParcare}}</h2>
        <p>{{p.LocuriDisponibile}} locuri disponibile</p>
        <ion-note item-end>{{p.TotalLocuri}} locuri</ion-note>
      </ion-item>

      <ion-item-options side="left">
        <button color="warning" class="color-white" ion-button (click)="harta(p.LocatieParcare)">Harta</button>
      </ion-item-options>
  
      <ion-item-options side="right">
        <button color="secondary" ion-button (click)="ocupaLoc(p)">{{p.IdParcare == 1 ? "Situatie locuri" : "Ocupa loc"}}</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="isLoading == true" text-center margin-top><ion-spinner name="crescent"></ion-spinner></div>
</ion-content>
